In [ ]:
 from google.colab import files 

uploaded = files.upload()

Saving netflix_titles.csv to netflix_titles.csv

In [ ]:
import pandas as pd
df = pd.read_csv('netflix_titles.csv')
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [ ]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [ ]:
df.tail(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [ ]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [ ]:
df.show_id

0          s1
1          s2
2          s3
3          s4
4          s5
        ...
8802    s8803
8803    s8804
8804    s8805
8805    s8806
8806    s8807
Name: show_id, Length: 8807, dtype: object

In [ ]:
df['release_year'] = '2021'

In [ ]:
df.describe()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
count,8807,8807,8807,6173,7982,7976,8797,8807,8803,8804,8807,8807
unique,8807,2,8807,4528,7692,748,1767,1,17,220,514,8775
top,s1,Movie,Dick Johnson Is Dead,Rajiv Chilaka,David Attenborough,United States,"January 1, 2020",2021,TV-MA,1 Season,"Dramas, International Movies","Paranormal activity at a lush, abandoned prope..."
freq,1,6131,1,19,19,2818,109,8807,3207,1793,362,4

In [ ]:
df[df.release_year == '2021']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2021,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2021,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2021,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2021,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2021,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2021,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [ ]:
df[['show_id','type','title']].head(5) [df.release_year == '2021']

<ipython-input-19-372bfdb5107a>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[['show_id','type','title']].head(5) [df.release_year == '2021']

  show_id     type                  title
0      s1    Movie   Dick Johnson Is Dead
1      s2  TV Show          Blood & Water
2      s3  TV Show              Ganglands
3      s4  TV Show  Jailbirds New Orleans
4      s5  TV Show           Kota Factory

In [ ]:
import numpy as np
af = pd.Series(np.random.rand(50))

In [ ]:
af

0     0.932802
1     0.860648
2     0.110014
3     0.088382
4     0.952325
5     0.585202
6     0.631281
7     0.559201
8     0.329654
9     0.347593
10    0.527171
11    0.585740
12    0.877257
13    0.817642
14    0.765698
15    0.383612
16    0.508332
17    0.717245
18    0.772132
19    0.097232
20    0.337482
21    0.879661
22    0.576329
23    0.009779
24    0.687898
25    0.263353
26    0.606603
27    0.003678
28    0.323458
29    0.653149
30    0.078873
31    0.922619
32    0.260124
33    0.879924
34    0.805487
35    0.032466
36    0.397501
37    0.524298
38    0.521911
39    0.886987
40    0.880381
41    0.071290
42    0.893068
43    0.636179
44    0.009651
45    0.258963
46    0.255738
47    0.691622
48    0.177799
49    0.219331
dtype: float64

In [ ]:
data = pd.DataFrame(np.random.rand(100,3), index=np.arange(100))

In [ ]:
data

           0         1         2
0   0.815509  0.011043  0.222564
1   0.764501  0.924846  0.920669
2   0.809098  0.888300  0.918754
3   0.701695  0.944127  0.093863
4   0.291402  0.522183  0.405260
..       ...       ...       ...
95  0.230823  0.798065  0.086281
96  0.621164  0.840455  0.169391
97  0.840644  0.271727  0.706367
98  0.345482  0.307206  0.596493
99  0.238262  0.965121  0.900721

[100 rows x 3 columns]

In [ ]:
data.describe()

                0           1           2
count  100.000000  100.000000  100.000000
mean     0.483121    0.501291    0.482206
std      0.294407    0.293613    0.280383
min      0.019510    0.001567    0.000762
25%      0.226987    0.255205    0.243837
50%      0.492262    0.502922    0.468461
75%      0.758111    0.748007    0.701996
max      0.997527    0.993474    0.981374

In [ ]:
data.T

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.815509,0.764501,0.809098,0.701695,0.291402,0.395152,0.132450,0.215479,0.947289,0.917209,...,0.068800,0.451562,0.256639,0.248566,0.545244,0.230823,0.621164,0.840644,0.345482,0.238262
1,0.011043,0.924846,0.888300,0.944127,0.522183,0.351313,0.402127,0.673667,0.346813,0.701135,...,0.496969,0.347117,0.764639,0.796600,0.660327,0.798065,0.840455,0.271727,0.307206,0.965121
2,0.222564,0.920669,0.918754,0.093863,0.405260,0.713299,0.523103,0.430184,0.642537,0.627087,...,0.164666,0.082186,0.555906,0.852141,0.643044,0.086281,0.169391,0.706367,0.596493,0.900721

In [ ]:
data.sort_index(axis=0,ascending = False)

           0         1         2
99  0.238262  0.965121  0.900721
98  0.345482  0.307206  0.596493
97  0.840644  0.271727  0.706367
96  0.621164  0.840455  0.169391
95  0.230823  0.798065  0.086281
..       ...       ...       ...
4   0.291402  0.522183  0.405260
3   0.701695  0.944127  0.093863
2   0.809098  0.888300  0.918754
1   0.764501  0.924846  0.920669
0   0.815509  0.011043  0.222564

[100 rows x 3 columns]

In [ ]:
data.sort_index(axis=0)

           0         1         2
0   0.815509  0.011043  0.222564
1   0.764501  0.924846  0.920669
2   0.809098  0.888300  0.918754
3   0.701695  0.944127  0.093863
4   0.291402  0.522183  0.405260
..       ...       ...       ...
95  0.230823  0.798065  0.086281
96  0.621164  0.840455  0.169391
97  0.840644  0.271727  0.706367
98  0.345482  0.307206  0.596493
99  0.238262  0.965121  0.900721

[100 rows x 3 columns]

In [ ]:
data.loc[0][0] = 153

In [ ]:
data

             0         1         2
0   153.000000  0.011043  0.222564
1     0.764501  0.924846  0.920669
2     0.809098  0.888300  0.918754
3     0.701695  0.944127  0.093863
4     0.291402  0.522183  0.405260
..         ...       ...       ...
95    0.230823  0.798065  0.086281
96    0.621164  0.840455  0.169391
97    0.840644  0.271727  0.706367
98    0.345482  0.307206  0.596493
99    0.238262  0.965121  0.900721

[100 rows x 3 columns]

data.columns = list('ABC')

In [ ]:
data

             A         B         C
0   153.000000  0.011043  0.222564
1     0.764501  0.924846  0.920669
2     0.809098  0.888300  0.918754
3     0.701695  0.944127  0.093863
4     0.291402  0.522183  0.405260
..         ...       ...       ...
95    0.230823  0.798065  0.086281
96    0.621164  0.840455  0.169391
97    0.840644  0.271727  0.706367
98    0.345482  0.307206  0.596493
99    0.238262  0.965121  0.900721

[100 rows x 3 columns]

In [ ]:
data.iloc[[0,5], [1,2]]

          B         C
0  0.011043  0.222564
5  0.351313  0.713299

In [ ]:
data.iloc[0,1]

0.01104329263806525